
@font-face {
	font-family: ascii-art;
	src: url("DroidSansMono.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #000;
}

a {
  font-weight: bold;
}

body, a {
	color: #fff;
}

.ascii-art {
  font-family: ascii-art, monospace;
}

.license {
  color: #ccc;
  font-style: italic;
}

.license img {
  width: auto;
  height: 2em;
}
